.hero {
  width: 100%;
  position: relative;

  > div {
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: var(--heroOverlayColor);
      opacity: 0.85;
    }

    > div {
      position: relative;
      height: 100%;
      width: 100%;
    }
  }
}
